@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1686213552948") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\f016c";
}

.icon-my:before {
  content: "\e78b";
}

.icon-square:before {
  content: "\e69b";
}

.icon-publish:before {
  content: "\e645";
}
